<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Clinickr App</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>


  <body class='container'>
    <h1>Enviar dados</h1>

    <h3><%= @error %></h3>
    <form action='table' method='post'>
      <label for="csv">Selecione um arquivo CSV</label>
      <input type="file" id="csv" name="csv">
      <br>
      <br>
      <button type='submit' class='btn btn-primary'>Enviar</button>
    </form>
  </body>

  
</html>